[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesPO"]
	path = bayesPO
	url = https://github.com/guidoamoreira/bayespo
[submodule "pompp"]
	path = pompp
	url = https://github.com/guidoamoreira/pompp
[submodule "sumR"]
	path = sumR
	url = https://github.com/guidoamoreira/sumr
